/**
 * Style the context menu button... #cm_export_user_list is defined in our Context Menu Extension class' AssignId property
 */
.contextmenu #cm_export_user_list > .image {
    background-image: url('${ImgUrl}ExportUserList-16x16.png');
}

/**
 * Style the ribbon tool bar button... #ExportUserListToCsvButton is defined in our Ribbon Toolbar Button class' AssignId property
 */
/* main icon in full ribbon mode */
.ribbontoolbar #ExportUserListToCsvButton.button .image {
    background-image: url('${ImgUrl}ExportUserList-32x32.png');
}

/* main icon in minimized ribbon mode */
.ribbontoolbar.minimized #ExportUserListToCsvButton.button .image {
    background-image: url('${ImgUrl}ExportUserList-16x16.png');
}